body{
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px 0 100px;
}
.display{
    height: 500px;
    width: 500px;
    background-color: blueviolet;

}

.next{
    align-self: flex-end;
}
.prev{
    align-self: flex-start;


}
